{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
</head>
<body>
    <nav>
        <ul class="menu">
                <li><a class="button" href="/logoff">Logoff</a></li>
                <li><a class="button" href="/gformPA/Patient">Lista de Pacientes</a></li>
                <li><a class="button" href="/gformDA/Dentist">Lista de Dentistas</a></li>
                <li><a class="button" href="/lucro">Lucro</a></li>
        </ul>
    </nav>
{% block content %}
    <div class="dados">
        <h1>{{ 'Lista de Dentistas' }}</h1>
        <br>
        <form id="form" action="/gform/{{ cname }}?option=save" method="post">
            {% for key in att %}
                <label for="{{ key }}">{{ des[loop.index0] }}:</label>
                {% if loop.index0 == 0 and butedit == 'enabled' and auto_number == 1 %}
                    <input type="text" disabled id="{{ key }}" name="{{ key }}" value="{{ obj[key] }}" size="30"/>
                {% else %}
                    <input type="text" {{ butedit }} id="{{ key }}" name="{{ key }}" value="{{ obj[key] }}" size="30"/>
                {% endif %}
                <br><br>
            {% endfor %}
        </form>
        <br>
        <button id="first" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=first'" class="button1">First</button>
        <button id="previous" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=previous'" class="button1">Previous</button>
        <button id="next" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=next'" class="button1">Next</button>
        <button id="last" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=last'" class="button1">Last</button>
    </div>
{% endblock %}